.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.hinge {
    animation-duration: 2s
}

@keyframes bounce {
    0%, 20%, 50%, 80%, to {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-30px)
    }

    60% {
        transform: translateY(-15px)
    }
}

.bounce {
    animation-name: bounce
}

@keyframes flash {
    0%, 50%, to {
        opacity: 1
    }

    25%, 75% {
        opacity: 0
    }
}

.flash {
    animation-name: flash
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    to {
        transform: scale(1)
    }
}

.pulse {
    animation-name: pulse
}

@keyframes shake {
    0%, to {
        transform: translateX(0)
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px)
    }

    20%, 40%, 60%, 80% {
        transform: translateX(10px)
    }
}

.shake {
    animation-name: shake
}

@keyframes swing {
    20% {
        transform: rotate(15deg)
    }

    40% {
        transform: rotate(-10deg)
    }

    60% {
        transform: rotate(5deg)
    }

    80% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(0deg)
    }
}

.swing {
    animation-name: swing;
    transform-origin: top center
}

@keyframes tada {
    0% {
        transform: scale(1)
    }

    10%, 20% {
        transform: scale(.9) rotate(-3deg)
    }

    30%, 50%, 70%, 90% {
        transform: scale(1.1) rotate(3deg)
    }

    40%, 60%, 80% {
        transform: scale(1.1) rotate(-3deg)
    }

    to {
        transform: scale(1) rotate(0)
    }
}

.tada {
    animation-name: tada
}

@keyframes wobble {
    0% {
        transform: translateX(0)
    }

    15% {
        transform: translateX(-25%) rotate(-5deg)
    }

    30% {
        transform: translateX(20%) rotate(3deg)
    }

    45% {
        transform: translateX(-15%) rotate(-3deg)
    }

    60% {
        transform: translateX(10%) rotate(2deg)
    }

    75% {
        transform: translateX(-5%) rotate(-1deg)
    }

    to {
        transform: translateX(0)
    }
}

.wobble {
    animation-name: wobble
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3)
    }

    50% {
        opacity: 1;
        transform: scale(1.05)
    }

    70% {
        transform: scale(.9)
    }

    to {
        transform: scale(1)
    }
}

.bounceIn {
    animation-name: bounceIn
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px)
    }

    60% {
        opacity: 1;
        transform: translateY(30px)
    }

    80% {
        transform: translateY(-10px)
    }

    to {
        transform: translateY(0)
    }
}

.bounceInDown {
    animation-name: bounceInDown
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px)
    }

    60% {
        opacity: 1;
        transform: translateX(30px)
    }

    80% {
        transform: translateX(-10px)
    }

    to {
        transform: translateX(0)
    }
}

.bounceInLeft {
    animation-name: bounceInLeft
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px)
    }

    60% {
        opacity: 1;
        transform: translateX(-30px)
    }

    80% {
        transform: translateX(10px)
    }

    to {
        transform: translateX(0)
    }
}

.bounceInRight {
    animation-name: bounceInRight
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(2000px)
    }

    60% {
        opacity: 1;
        transform: translateY(-30px)
    }

    80% {
        transform: translateY(10px)
    }

    to {
        transform: translateY(0)
    }
}

.bounceInUp {
    animation-name: bounceInUp
}

@keyframes bounceOut {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(.95)
    }

    50% {
        opacity: 1;
        transform: scale(1.1)
    }

    to {
        opacity: 0;
        transform: scale(.3)
    }
}

.bounceOut {
    animation-name: bounceOut
}

@keyframes bounceOutDown {
    0% {
        transform: translateY(0)
    }

    20% {
        opacity: 1;
        transform: translateY(-20px)
    }

    to {
        opacity: 0;
        transform: translateY(2000px)
    }
}

.bounceOutDown {
    animation-name: bounceOutDown
}

@keyframes bounceOutLeft {
    0% {
        transform: translateX(0)
    }

    20% {
        opacity: 1;
        transform: translateX(20px)
    }

    to {
        opacity: 0;
        transform: translateX(-2000px)
    }
}

.bounceOutLeft {
    animation-name: bounceOutLeft
}

@keyframes bounceOutRight {
    0% {
        transform: translateX(0)
    }

    20% {
        opacity: 1;
        transform: translateX(-20px)
    }

    to {
        opacity: 0;
        transform: translateX(2000px)
    }
}

.bounceOutRight {
    animation-name: bounceOutRight
}

@keyframes bounceOutUp {
    0% {
        transform: translateY(0)
    }

    20% {
        opacity: 1;
        transform: translateY(20px)
    }

    to {
        opacity: 0;
        transform: translateY(-2000px)
    }
}

.bounceOutUp {
    animation-name: bounceOutUp
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    animation-name: fadeIn
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInDown {
    animation-name: fadeInDown
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        transform: translateY(-2000px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInDownBig {
    animation-name: fadeInDownBig
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInLeft {
    animation-name: fadeInLeft
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        transform: translateX(-2000px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInLeftBig {
    animation-name: fadeInLeftBig
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInRight {
    animation-name: fadeInRight
}

@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        transform: translateX(2000px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInRightBig {
    animation-name: fadeInRightBig
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInUp {
    animation-name: fadeInUp
}

@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        transform: translateY(2000px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInUpBig {
    animation-name: fadeInUpBig
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(20px)
    }
}

.fadeOutDown {
    animation-name: fadeOutDown
}

@keyframes fadeOutDownBig {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(2000px)
    }
}

.fadeOutDownBig {
    animation-name: fadeOutDownBig
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(-20px)
    }
}

.fadeOutLeft {
    animation-name: fadeOutLeft
}

@keyframes fadeOutLeftBig {
    0% {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(-2000px)
    }
}

.fadeOutLeftBig {
    animation-name: fadeOutLeftBig
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(20px)
    }
}

.fadeOutRight {
    animation-name: fadeOutRight
}

@keyframes fadeOutRightBig {
    0% {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(2000px)
    }
}

.fadeOutRightBig {
    animation-name: fadeOutRightBig
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(-20px)
    }
}

.fadeOutUp {
    animation-name: fadeOutUp
}

@keyframes fadeOutUpBig {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(-2000px)
    }
}

.fadeOutUpBig {
    animation-name: fadeOutUpBig
}

@keyframes flip {
    0% {
        animation-timing-function: ease-out;
        transform: perspective(400px) translateZ(0) rotateY(0) scale(1)
    }

    40% {
        animation-timing-function: ease-out;
        transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1)
    }

    50% {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1)
    }

    80% {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(0) rotateY(1turn) scale(.95)
    }

    to {
        animation-timing-function: ease-in;
        transform: perspective(400px) translateZ(0) rotateY(1turn) scale(1)
    }
}

.animated.flip {
    animation-name: flip;
    backface-visibility: visible
}

@keyframes flipInX {
    0% {
        opacity: 0;
        transform: perspective(400px) rotateX(90deg)
    }

    40% {
        transform: perspective(400px) rotateX(-10deg)
    }

    70% {
        transform: perspective(400px) rotateX(10deg)
    }

    to {
        opacity: 1;
        transform: perspective(400px) rotateX(0deg)
    }
}

.flipInX {
    animation-name: flipInX;
    backface-visibility: visible !important
}

@keyframes flipInY {
    0% {
        opacity: 0;
        transform: perspective(400px) rotateY(90deg)
    }

    40% {
        transform: perspective(400px) rotateY(-10deg)
    }

    70% {
        transform: perspective(400px) rotateY(10deg)
    }

    to {
        opacity: 1;
        transform: perspective(400px) rotateY(0deg)
    }
}

.flipInY {
    animation-name: flipInY;
    backface-visibility: visible !important
}

@keyframes flipOutX {
    0% {
        opacity: 1;
        transform: perspective(400px) rotateX(0deg)
    }

    to {
        opacity: 0;
        transform: perspective(400px) rotateX(90deg)
    }
}

.flipOutX {
    animation-name: flipOutX;
    backface-visibility: visible !important
}

@keyframes flipOutY {
    0% {
        opacity: 1;
        transform: perspective(400px) rotateY(0deg)
    }

    to {
        opacity: 0;
        transform: perspective(400px) rotateY(90deg)
    }
}

.flipOutY {
    animation-name: flipOutY;
    backface-visibility: visible !important
}

@keyframes lightSpeedIn {
    0% {
        opacity: 0;
        transform: translateX(100%) skewX(-30deg)
    }

    60% {
        opacity: 1;
        transform: translateX(-20%) skewX(30deg)
    }

    80% {
        opacity: 1;
        transform: translateX(0) skewX(-15deg)
    }

    to {
        opacity: 1;
        transform: translateX(0) skewX(0deg)
    }
}

.lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out
}

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
        transform: translateX(0) skewX(0deg)
    }

    to {
        opacity: 0;
        transform: translateX(100%) skewX(-30deg)
    }
}

.lightSpeedOut {
    animation-name: lightSpeedOut;
    animation-timing-function: ease-in
}

@keyframes rotateIn {
    0% {
        opacity: 0;
        transform: rotate(-200deg);
        transform-origin: center center
    }

    to {
        opacity: 1;
        transform: rotate(0);
        transform-origin: center center
    }
}

.rotateIn {
    animation-name: rotateIn
}

@keyframes rotateInDownLeft {
    0% {
        opacity: 0;
        transform: rotate(-90deg);
        transform-origin: left bottom
    }

    to {
        opacity: 1;
        transform: rotate(0);
        transform-origin: left bottom
    }
}

.rotateInDownLeft {
    animation-name: rotateInDownLeft
}

@keyframes rotateInDownRight {
    0% {
        opacity: 0;
        transform: rotate(90deg);
        transform-origin: right bottom
    }

    to {
        opacity: 1;
        transform: rotate(0);
        transform-origin: right bottom
    }
}

.rotateInDownRight {
    animation-name: rotateInDownRight
}

@keyframes rotateInUpLeft {
    0% {
        opacity: 0;
        transform: rotate(90deg);
        transform-origin: left bottom
    }

    to {
        opacity: 1;
        transform: rotate(0);
        transform-origin: left bottom
    }
}

.rotateInUpLeft {
    animation-name: rotateInUpLeft
}

@keyframes rotateInUpRight {
    0% {
        opacity: 0;
        transform: rotate(-90deg);
        transform-origin: right bottom
    }

    to {
        opacity: 1;
        transform: rotate(0);
        transform-origin: right bottom
    }
}

.rotateInUpRight {
    animation-name: rotateInUpRight
}

@keyframes rotateOut {
    0% {
        opacity: 1;
        transform: rotate(0);
        transform-origin: center center
    }

    to {
        opacity: 0;
        transform: rotate(200deg);
        transform-origin: center center
    }
}

.rotateOut {
    animation-name: rotateOut
}

@keyframes rotateOutDownLeft {
    0% {
        opacity: 1;
        transform: rotate(0);
        transform-origin: left bottom
    }

    to {
        opacity: 0;
        transform: rotate(90deg);
        transform-origin: left bottom
    }
}

.rotateOutDownLeft {
    animation-name: rotateOutDownLeft
}

@keyframes rotateOutDownRight {
    0% {
        opacity: 1;
        transform: rotate(0);
        transform-origin: right bottom
    }

    to {
        opacity: 0;
        transform: rotate(-90deg);
        transform-origin: right bottom
    }
}

.rotateOutDownRight {
    animation-name: rotateOutDownRight
}

@keyframes rotateOutUpLeft {
    0% {
        opacity: 1;
        transform: rotate(0);
        transform-origin: left bottom
    }

    to {
        opacity: 0;
        transform: rotate(-90deg);
        transform-origin: left bottom
    }
}

.rotateOutUpLeft {
    animation-name: rotateOutUpLeft
}

@keyframes rotateOutUpRight {
    0% {
        opacity: 1;
        transform: rotate(0);
        transform-origin: right bottom
    }

    to {
        opacity: 0;
        transform: rotate(90deg);
        transform-origin: right bottom
    }
}

.rotateOutUpRight {
    animation-name: rotateOutUpRight
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px)
    }

    to {
        transform: translateY(0)
    }
}

.slideInDown {
    animation-name: slideInDown
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px)
    }

    to {
        transform: translateX(0)
    }
}

.slideInLeft {
    animation-name: slideInLeft
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px)
    }

    to {
        transform: translateX(0)
    }
}

.slideInRight {
    animation-name: slideInRight
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(-2000px)
    }
}

.slideOutLeft {
    animation-name: slideOutLeft
}

@keyframes slideOutRight {
    0% {
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(2000px)
    }
}

.slideOutRight {
    animation-name: slideOutRight
}

@keyframes slideOutUp {
    0% {
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(-2000px)
    }
}

.slideOutUp {
    animation-name: slideOutUp
}

@keyframes hinge {
    0% {
        animation-timing-function: ease-in-out;
        transform: rotate(0);
        transform-origin: top left
    }

    20%, 60% {
        animation-timing-function: ease-in-out;
        transform: rotate(80deg);
        transform-origin: top left
    }

    40% {
        animation-timing-function: ease-in-out;
        transform: rotate(60deg);
        transform-origin: top left
    }

    80% {
        animation-timing-function: ease-in-out;
        opacity: 1;
        transform: rotate(60deg) translateY(0);
        transform-origin: top left
    }

    to {
        opacity: 0;
        transform: translateY(700px)
    }
}

.hinge {
    animation-name: hinge
}

@keyframes rollIn {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-120deg)
    }

    to {
        opacity: 1;
        transform: translateX(0) rotate(0deg)
    }
}

.rollIn {
    animation-name: rollIn
}

@keyframes rollOut {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(0deg)
    }

    to {
        opacity: 0;
        transform: translateX(100%) rotate(120deg)
    }
}

.rollOut {
    animation-name: rollOut
}

:root {
    --aqua: #4cc9f0;
    --green: #58c490;
    --soft-blue: #e0e7ff;
    --soft-bg: #f3f5fb;
    --teal: #30b2be;
    --navy: #0a1121;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", sans-serif !important;
    background-color: var(--soft-bg) !important;
}

.navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
    background-color: var(--navy) !important;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


.btn-white {
    background-color: white !important;
    color: black !important;
    transition: all 0.3s ease;
}

.btn-white:hover {
    background-color: var(--aqua) !important;
    color: white !important;
}

.hero {
    background: url(../image/imgi_80_s10-background-scaled.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
    isolation: isolate;
    color: white;
}

.hero::after {
    content: "";
    width: 100%;
    height: 44px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 26vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0C22.4434 -1 28.9842 2 55 24C94.1849 54 121.997 57 158.5 58C198.5 60 200 44 240 52C280 59 320 89 360 89C400 89 440 59 480 54C520 49 560 69 600 84C640 99 680 109 720 114C760 119 800 119 840 104C880 89 920 59 960 62C1000 64 1040 99 1080 94C1120 89 1127.5 59 1147.5 37C1171.48 11 1185.65 0 1200 0V134H1180C1160 134 1120 134 1080 134C1040 134 1000 134 960 134C920 134 880 134 840 134C800 134 760 134 720 134C680 134 640 134 600 134C560 134 520 134 480 134C440 134 400 134 360 134C320 134 280 134 240 134C200 134 160 134 120 134C80 134 40 134 20 134H0V0.0103865Z' fill='%23f3f5fb'/></svg>");
}


.btn-icon {
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.drink {
    width: 700px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    z-index: -1;
}

.lemon1 {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 40%;
    left: 30%;
    transform: translate(-50%);
    height: auto;
    z-index: -1;
}

.lemon2 {
    width: 170px;
    height: auto;
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%);
    height: auto;
    z-index: -1;
}

.leaf {
    width: 170px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%);
    height: auto;
    z-index: -1;
}

.hero h1 {
    font-size: 4.5rem;
    line-height: 1.2;
}

.img-swipe {
    width: 250px !important;
    height: auto;
    transition: all 0.3s ease;
}

.img-swipe:hover {
    transform: translateY(-4%);
    transition: all 0.3s ease;
}

.card {
    background: var(--soft-bg);
}

.features {
    position: relative;
    isolation: isolate;
    background-color: var(--green);
    color: white !important;
}

.features::before {
    content: "";
    width: 100%;
    height: 76px;
    position: absolute;
    top: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 14vw bottom;
    background-image: url("data:image/svg+xml;utf8,    <svg viewBox='0 0 1200 134' xmlns='http://www.w3.org/2000/svg'><g transform='scale(1,-1) translate(0,-134)'><path d='M0 0C22.4434 -1 28.9842 2 55 24C94.1849 54 121.997 57 158.5 58C198.5 60 200 44 240 52C280 59 320 89 360 89C400 89 440 59 480 54C520 49 560 69 600 84C640 99 680 109 720 114C760 119 800 119 840 104C880 89 920 59 960 62C1000 64 1040 99 1080 94C1120 89 1127.5 59 1147.5 37C1171.48 11 1185.65 0 1200 0V134H1180C1160 134 1120 134 1080 134C1040 134 1000 134 960 134C920 134 880 134 840 134C800 134 760 134 720 134C680 134 640 134 600 134C560 134 520 134 480 134C440 134 400 134 360 134C320 134 280 134 240 134C200 134 160 134 120 134C80 134 40 134 20 134H0V0.0103865Z' fill='%23f3f5fb'/></g></svg>");
}

.features::after {
    content: "";
    width: 100%;
    height: 99px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0C22.4434 -1 28.9842 2 55 24C94.1849 54 121.997 57 158.5 58C198.5 60 200 44 240 52C280 59 320 89 360 89C400 89 440 59 480 54C520 49 560 69 600 84C640 99 680 109 720 114C760 119 800 119 840 104C880 89 920 59 960 62C1000 64 1040 99 1080 94C1120 89 1127.5 59 1147.5 37C1171.48 11 1185.65 0 1200 0V134H1180C1160 134 1120 134 1080 134C1040 134 1000 134 960 134C920 134 880 134 840 134C800 134 760 134 720 134C680 134 640 134 600 134C560 134 520 134 480 134C440 134 400 134 360 134C320 134 280 134 240 134C200 134 160 134 120 134C80 134 40 134 20 134H0V0.0103865Z' fill='%23f3f5fb'/></svg>");

}


.shadow-color {
    box-shadow: -1px 2.4rem 5px -20px rgba(18, 133, 28, 0.281), -2px 1.2rem 2px -8px rgba(18, 133, 28, 0.315);

}

.testimonial {
    position: relative;
    isolation: isolate;
}

.bg-testi1 {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 400px;
    height: auto;
    z-index: -1;
}

.bg-testi2 {
    position: absolute;
    bottom: 20%;
    right: 0%;
    width: 400px;
    height: auto;
    z-index: -1;
}

.footer {
    background-color: var(--teal);
    color: white;
    padding: 2rem 0;
    position: relative;
}

.footer::before {
    content: "";
    width: 100%;
    height: 76px;
    position: absolute;
    top: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 14vw bottom;
    background-image: url("data:image/svg+xml;utf8,    <svg viewBox='0 0 1200 134' xmlns='http://www.w3.org/2000/svg'><g transform='scale(1,-1) translate(0,-134)'><path d='M0 0C22.4434 -1 28.9842 2 55 24C94.1849 54 121.997 57 158.5 58C198.5 60 200 44 240 52C280 59 320 89 360 89C400 89 440 59 480 54C520 49 560 69 600 84C640 99 680 109 720 114C760 119 800 119 840 104C880 89 920 59 960 62C1000 64 1040 99 1080 94C1120 89 1127.5 59 1147.5 37C1171.48 11 1185.65 0 1200 0V134H1180C1160 134 1120 134 1080 134C1040 134 1000 134 960 134C920 134 880 134 840 134C800 134 760 134 720 134C680 134 640 134 600 134C560 134 520 134 480 134C440 134 400 134 360 134C320 134 280 134 240 134C200 134 160 134 120 134C80 134 40 134 20 134H0V0.0103865Z' fill='%23f3f5fb'/></g></svg>");
}

.dropdown-hover .dropdown-menu {
    display: block;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.dropdown-hover:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.dropdown-hover .dropdown-menu.dropdown-menu-fullwidth {
    width: 100%;
    left: 0;
}

.checklist li {
    position: relative;
    margin-bottom: 8px;
}

.checklist li::before {
    content: "\f26f";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    padding-inline-end: 25px;
    color: var(--green);
}

.sosmed-list.scrolled {
    display: none;
}

.logo-dew {
    text-align: center;
}

.logo-dew.scrolled {
    text-align: left;
}

.nav-link {
    color: white !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--aqua) !important;
}

.menu-list {
    display: none;
}

.menu-list.scrolled {
    display: block;
}

.menu-list2.scrolled {
    display: none;
}

.total-review {
    border-inline-start: 2px solid rgba(12, 12, 12, 0.404);
}

.card-best {
    position: relative;
    isolation: isolate;
    background: white !important;
}

.card-best::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-color: var(--aqua);
    border-radius: 0px 0px 15px 15px;
    transition: all 0.3s ease;
    transform: rotate(0deg);
}

.card-best:hover::after {
    transform: rotate(5deg);
}

.card-best .img-hover {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease;
}

.card-best:hover .img-hover {
    opacity: 1;
}

.card-best .img-before {
    opacity: 1;
    transition: all 0.5s ease;
}

.card-best:hover .img-before {
    opacity: 0;
}

@media (max-width: 992px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .features-icon img {
        transform: scale(2);
    }

    .features::after {
        content: "";
        bottom: -1%;
    }
}

@media (max-width: 450px) {
    .features::before {
        content: "";
        top: -2%;
        left: 0;
    }

    .features::after {
        content: "";
        bottom: -4%;
        left: 0;
    }

    .features-icon img {
        transform: scale(1);
    }

    .total-review {
        border-inline-start: 0px solid rgba(12, 12, 12, 0.404);
        border-block-start: 2px solid rgba(12, 12, 12, 0.404);
    }

    .footer::before {
        content: "";
        top: -4%;
        left: 0;
    }

}

.cart-hero {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    background-color: var(--navy);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;    
}